.contentroom {
  margin-top: 4rem;
  padding-bottom: 3.5rem;

  @include respond(phone2) {
    margin-top: 2rem;
  }

  &__nav {
    @include flexbox();
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    &__item {
      @include respond(tab-port) {
        width: calc(100% / 3);
      }
    }
    & a {
      display: inline-block;
      font-size: 1.6rem;
      text-decoration: none;
      color: $primary;
      text-transform: uppercase;
      box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.2);
      text-align: center;
      padding: 1rem 3rem;
      margin-right: 3px;
      @include respond(tab-port) {
        width: 100%;
        padding: 1rem 0;
      }
    }
  }
  &__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    @include respond(tab-port) {
      &__btn {
        display: none;
      }
    }
    & select {
      cursor: pointer;
      border: none;
      font-size: 1.8rem;
      padding: 1rem 2rem;
    }
  }
}
.active-box {
  background: $primary;
}
.actives {
  color: white !important;
  background: $primary !important;
}
