.room{
    width: calc(97%/4);
    margin: calc(3%/8);
    box-shadow: 2px 3px 9px rgba($color: #000000, $alpha: 0.5);
    @include respond(tab-land2){
        width: calc(97%/3);
        margin: calc(3%/6);
    }
    @include respond(tab-port){
        width: calc(97%/2);
        margin: calc(3%/4);
    }
    @include respond(phone2){
        width: calc(97%/1);
        margin: calc(3%/2);
    }
    &__link{
        text-decoration: none;
    }
    &__img{
        width: 100%;
        height: 26.45rem;
        & img{
            width: 100%;
            height: 100%;
        }
    }
    &__detail{
        padding: 2rem 1rem;
        font-size: 1.6rem;
        color: $black--3;
        text-decoration: none;
        &__header{
            display: flex;
            justify-content: space-between;
            @include respond(phonetab){
                flex-direction: column;
            }
            @include respond(phonetab){
                flex-direction: row;
            }
        }
        &__header p{

             &:nth-child(1){
                display: inline-block;
             }
             &:nth-child(2){
                 & span{
                     color: red;
                     font-size: 2rem;
                     & i{
                         font-size: 1.4rem;
                         color: $black--3;
                     }
                 }

             }
        }
        &__description{
            text-align: justify;
            margin: 1rem 0;
        }
    }
}

.icon__for{
    margin: 0 .5rem;
}